/* -- CSD340 Assignment 3.3, Tyler O'Riley, 06/03/2023  -- */

h1 {
    text-align: center;
}
h3 {
    font-weight: 500;
}

ol {
    font-weight: 300;
    padding: 10px;
}
ul {
    font-weight: 300;
    padding: 10px;
    list-style-type: upper-roman;
}

div.books {
    width: 45%;
    height: 100px;
    float: left;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
}
div.lesson {
    width: 45%;
    margin-left: 50%;
    height: 100px;
    border-style: dashed;
    border-radius: 15px;
    border-width: 1px;
}
div.home {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
